<html ng-app="stovetop">
  <head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Stove Top Brew Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body ng-cloak ng-controller="stovetop">
      <div class="main-phone visible-xs">
          <ng-include src="'views/templates/titles.html'"></ng-include>
          <uib-accordion>
              <uib-accordion-group heading="Store">
                  <ng-include src="'views/templates/store.html'"></ng-include>
              </uib-accordion-group>
              <uib-accordion-group heading="Videos">
                  <ng-include src="'views/templates/videos.html'"></ng-include>
              </uib-accordion-group>
              <uib-accordion-group heading="Recipes">
                  <ng-include src="'views/templates/recipes.html'"></ng-include>
              </uib-accordion-group>
              <uib-accordion-group heading="Calculator">
                  <ng-include src="'views/templates/calculator.html'"></ng-include>
              </uib-accordion-group>
          </uib-accordion>
      </div>

      <div class="main hidden-xs">
        <div class="main-top">
          <ng-include src="'views/templates/titles.html'"></ng-include>
          <ng-include src="'views/templates/store.html'"></ng-include>
          <ng-include src="'views/templates/videos.html'"></ng-include>
        </div>
        <div class="main-bottom">
          <ng-include src="'views/templates/recipes.html'"></ng-include>
          <ng-include src="'views/templates/calculator.html'"></ng-include>
        </div>
      </div>

      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="bower_components/lodash/lodash.min.js"></script>
      <script src="src/module.js"></script>
      <script src="trewbrews-calc-public/src/trewbrews-calc.js"></script>
      <script src="src/stovetop.js"></script>
      <script src="src/calculator.js"></script>
  <body>
</html>
