<html ng-app="stovetop">
  <head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Stove Top Brew Shop</title>
  </head>

  <body ng-cloak ng-controller="calculator">
      <div class="main">
        <div class="main-top">
          <ng-include src="'views/templates/titles.html'"></ng-include>
          <ng-include src="'views/templates/store.html'"></ng-include>
          <ng-include src="'views/templates/videos.html'"></ng-include>
        </div>
        <div class="main-bottom">
          <ng-include src="'views/templates/recipes.html'"></ng-include>
          <ng-include src="'views/templates/calculator.html'"></ng-include>
        </div>
      </div>

      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
      <script src="src/module.js"></script>
      <script src="trewbrews-calc-public/src/trewbrews-calc.js"></script>
      <script src="src/trewbrews.js"></script>
  <body>
</html>
