<div class="recipes-container">
  <div class="recipe-title-container">
      <div class="text-header sofia-header">
        <span>Choose from one of our tried and tested</span>
      </div>
      <div class="text-header stovetop-header">
        <span>Recipe Packs</span>
      </div>
  </div>
  <div class="recipes">
    <div class="recipe-container form-group col-md-3">
        <div class="recipe">
        </div>
    </div>
    <div class="recipe-container form-group col-md-3">
        <div class="recipe">
        </div>
    </div>
    <div class="recipe-container form-group col-md-3">
        <div class="recipe">
        </div>
    </div>
    <div class="recipe-container form-group col-md-3">
        <div class="recipe">
        </div>
    </div>
  </div>
  <div class="long-ruler">
  </div>
</div>
