<div class="store-container container">
  <div class="calculator row">
    <div class="shop-container form-group col-xs-6 col-sm-12 col-md-12 col-lg-6">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
          <div class="shop-fermentables shop-item"> </div>
          <div class="text-header shop-label">
            <span>Malt extract + Grain</span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
          <div class="shop-hops shop-item"> </div>
          <div class="text-header shop-label">
            <span>Hops</span>
          </div>
        </div>
      </div>
    </div>
    <div class="shop-container form-group col-xs-6 col-sm-12 col-md-12 col-lg-6">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
          <div class="shop-yeast shop-item"> </div>
          <div class="text-header shop-label">
            <span>Yeast</span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
          <div class="shop-equipment shop-item"> </div>
          <div class="text-header shop-label">
            <span>Equipment</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="long-ruler">
  </div>
</div>
