<div class="store-container col-xs-12">
  <div class="calculator col-xs-12">
    <div class="shop-container form-group col-xs-3">
        <div class="shop-fermentables shop-item" ng-click="click('shop-fermentables')">
        </div>
        <div class="text-header shop-label">
          <span>Malt extract + Grain</span>
        </div>
    </div>
    <div class="shop-container form-group col-xs-3">
        <div class="shop-hops shop-item" ng-click="click('shop-hops')">
        </div>
        <div class="text-header shop-label">
          <span>Hops</span>
        </div>
    </div>
    <div class="shop-container form-group col-xs-3">
        <div class="shop-yeast shop-item" ng-click="click('shop-yeast')">
        </div>
        <div class="text-header shop-label">
          <span>Yeast</span>
        </div>
    </div>
    <div class="shop-container form-group col-xs-3">
        <div class="shop-equipment shop-item" ng-click="click('shop-equipment')">
        </div>
        <div class="text-header shop-label">
          <span>Equipment</span>
        </div>
    </div>
  </div>
  <div class="long-ruler col-xs-12">
  </div>
</div>
