<div class="videos-container container">
  <div class="calculator row">
    <div class="vertical-center video-container form-group col-xs-4">
        <div class="video">
          <img src="http://img.youtube.com/vi/XbdRDm2VsCc/0.jpg" ng-click="showVideo('XbdRDm2VsCc')">
        </div>
        <div class="text-header video-header">
            <span>A guide to Sanitation</span>
        </div>
    </div>
    <div class="vertical-center video-container form-group col-xs-4">
        <div class="video">
          <img src="http://img.youtube.com/vi/XbdRDm2VsCc/0.jpg" ng-click="showVideo('XbdRDm2VsCc')">
        </div>
        <div class="text-header video-header">
            <span>A guide to Brewing</span>
        </div>
    </div>
    <div class="vertical-center video-container form-group col-xs-4">
        <div class="video">
          <img src="http://img.youtube.com/vi/XbdRDm2VsCc/0.jpg" ng-click="showVideo('XbdRDm2VsCc')">
        </div>
        <div class="text-header video-header">
            <span>A guide to Bottling</span>
        </div>
    </div>
  </div>
  <div class="long-ruler bottom-ruler">
  </div>
</div>
