<div class="videos-container">
  <div class="calculator">
    <div class="video-container form-group col-xs-4">
        <div class="ingredient">
          <iframe width="100%" height="100%" style="margin: 0;" src="https://www.youtube.com/embed/XbdRDm2VsCc" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="text-header sofia-header">
            <span>A guide to Sanitation</span>
        </div>
    </div>
    <div class="video-container form-group col-xs-4">
        <div class="ingredient">
          <iframe width="100%" height="100%" style="margin: 0;" src="https://www.youtube.com/embed/XbdRDm2VsCc" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="text-header sofia-header">
            <span>A guide to Brewing</span>
        </div>
    </div>
    <div class="video-container form-group col-xs-4">
        <div class="ingredient">
          <iframe width="100%" height="100%" style="margin: 0;" src="https://www.youtube.com/embed/XbdRDm2VsCc" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="text-header sofia-header">
            <span>A guide to Bottling</span>
        </div>
    </div>
  </div>
  <div class="long-ruler">
  </div>
</div>
